*{
  font-family: Helvetica;
  font-style: normal;
}

.donasi-landing h1 {
  font-weight: 600;
  color: white;
  margin-top:5rem;
  margin-bottom: 0 rem;
  margin-left:8rem;

}

.donasi-landing p {
  color: white;
  width: 40%;
  margin-left:8rem;

}

.donasi-landing {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  text-align: justify;
  background-image: url("../../assets/images/banner2.png");
  background-size: cover;
  background-position: center;
  background-color: #f7f3e8;
  margin-button: 0.5rem;
  width:100%;
  height:410px;
}

/* Mengatur properti gambar dalam Card */
.card-img-top {
  width: 100%; /* Mengisi lebar gambar sesuai dengan lebar Card */
  height: 160px; /* Menentukan tinggi gambar */
  object-fit: cover; /* Memastikan gambar sesuai dengan ukuran container tanpa merubah aspek rasio */
}

.color-landing {
  background-color: #f7f3e8;
}


.donasicard {
  background-color: #f7f3e8;
}

.card {
  height: 90%;
  width: 105%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.title-donasi {
  font-weight: 600;
  font-size: 0.8rem; /* Ukuran teks untuk judul card */
}

.card.text {
  font-size: 0.7rem; /* Ukuran teks untuk isi card */
}

.custom-hr {
  height: 5px;
  background-image: linear-gradient(to right, black, black);
}


.card-container {
  height: 100%; /* Menetapkan tinggi 100% untuk kontainer card */
}

.first-list:first-child {
  list-style-type: none;
}


.card-img1 {
  background-image: url("../../assets/images/kampanye7.jpeg");
  background-size: cover;
}

.card-img2 {
  background-image: url("../../assets/images/kampanye2.jpeg");
  background-size: cover;
}

.card-img3 {
  background-image: url("../../assets/images/kampanye3.jpeg");
  background-size: cover;
}

.card-img4 {
  background-image: url("../../assets/images/kampanye4.jpeg");
  background-size: cover;
}

.card-img5 {
  background-image: url("../../assets/images/kampanye5.jpeg");
  background-size: cover;
}

.card-img6 {
  background-image: url("../../assets/images/kampanye6.jpeg");
  background-size: cover;
}

.card-img7 {
  background-image: url("../../assets/images/kampanye(1).jpeg");
  background-size: cover;
}

.card-img8 {
  background-image: url("../../assets/images/kampanye8.jpeg");
  background-size: cover;
}

.card-img9 {
  background-image: url("../../assets/images/kampanye9.jpeg");
  background-size: cover;
}

.card-img10 {
  background-image: url("../../assets/images/kampanye10.jpeg");
  background-size: cover;
}

.card-img11 {
  background-image: url("../../assets/images/kampanye11.jpeg");
  background-size: cover;
}

.card-img12 {
  background-image: url("../../assets/images/kampanye12.jpeg");
  background-size: cover;
}
