* {
    font-family: Helvetica;
    font-style: berlangsung;
  }
  
  .donasi-landing h1 {
    font-weight: 600;
    color: white;
    margin-top: 7.5rem;
    margin-bottom: 0 rem;
    margin-left: 8rem;
  }
  
  .donasi-landing p {
    color: white;
    width: 40%;
    margin-left: 8rem;
  }
  
  .donasi-landing {
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-align: justify;
    background-image: url("../../assets/images/banner2.png");
    background-size: cover;
    background-position: center;
    background-color: #f7f3e8;
    margin-button: 0.5rem;
    width: 100%;
    height: 410px;
  }
  
  /* Mengatur properti gambar dalam Card */
  .card-img-top {
    width: 100%; /* Mengisi lebar gambar sesuai dengan lebar Card */
    height: 160px; /* Menentukan tinggi gambar */
    object-fit: cover; /* Memastikan gambar sesuai dengan ukuran container tanpa merubah aspek rasio */
  }
  
  .color-landing {
    background-color: #f7f3e8;
  }
  
  .donasicard {
    background-color: #f7f3e8;
  }
  
  .card-container {
    height: 90%;
    width: 105%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
  }
  
  .title-donasi {
    font-weight: 600;
    font-size: 0.8rem; /* Ukuran teks untuk judul card */
  }
  
  .card.text {
    font-size: 0.7rem; /* Ukuran teks untuk isi card */
  }
  
  .custom-hr {
    height: 5px;
    background-image: linear-gradient(to right, black, black);
  }
  
  .card-container {
    height: 100%; /* Menetapkan tinggi 100% untuk kontainer card */
  }
  
  .first-list:first-child {
    list-style-type: none;
  }
  
  .profile-derma {
    background-image: url("../../assets/images/profilederma.png");
  }
  
  /* card berlangsung */
  .card-berlangsung-img1 {
    background-image: url("../../assets/images/berlangsung1.jpg");
    background-size: cover;
  }
  .card-berlangsung-img2 {
    background-image: url("../../assets/images/berlangsung2.jpg");
    background-size: cover;
  }
  .card-berlangsung-img3 {
    background-image: url("../../assets/images/berlangsung3.jpg");
    background-size: cover;
  }
  .card-berlangsung-img4 {
    background-image: url("../../assets/images/berlangsung4.jpg");
    background-size: cover;
  }
  .card-berlangsung-img5 {
    background-image: url("../../assets/images/berlangsung5.jpg");
    background-size: cover;
  }
  .card-berlangsung-img6 {
    background-image: url("../../assets/images/berlangsung6.jpg");
    background-size: cover;
  }
  /* end of card berlangsung */

  /* card diperpanjang */
  .card-diperpanjang-img1 {
    background-image: url("../../assets/images/diperpanjang1.jpg");
    background-size: cover;
  }
  .card-diperpanjang-img2 {
    background-image: url("../../assets/images/diperpanjang2.jpg");
    background-size: cover;
  }
  .card-diperpanjang-img3 {
    background-image: url("../../assets/images/diperpanjang3.jpg");
    background-size: cover;
  }
  .card-diperpanjang-img4 {
    background-image: url("../../assets/images/diperpanjang4.jpg");
    background-size: cover;
  }
  .card-diperpanjang-img5 {
    background-image: url("../../assets/images/diperpanjang5.jpg");
    background-size: cover;
  }
  .card-diperpanjang-img6 {
    background-image: url("../../assets/images/diperpanjang6.jpg");
    background-size: cover;
  }
  /* end of card diperpanjang */
  
   /* card selesai */
   .card-selesai-img1 {
    background-image: url("../../assets/images/selesai1.jpg");
    background-size: cover;
  }
  .card-selesai-img2 {
    background-image: url("../../assets/images/selesai2.jpg");
    background-size: cover;
  }
  .card-selesai-img3 {
    background-image: url("../../assets/images/selesai3.jpg");
    background-size: cover;
  }
  .card-selesai-img4 {
    background-image: url("../../assets/images/selesai4.jpg");
    background-size: cover;
  }
  .card-selesai-img5 {
    background-image: url("../../assets/images/selesai5.jpg");
    background-size: cover;
  }
  .card-selesai-img6 {
    background-image: url("../../assets/images/selesai6.jpg");
    background-size: cover;
  }
  /* end of card diperpanjang */