.register-form {
  background-color: rgba(180, 180, 180, 0.315);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
  max-width: 100%;
  margin-bottom: 20px;
}

.register-form .form-label {
  color: rgb(0, 0, 0);
}

.register-form a {
  color: #ffc107; /* Warna kuning */
}

.register-form a:hover {
  text-decoration: underline;
}

.text-white {
  color: rgb(0, 0, 0);
}

.small-text {
  font-size: 0.8rem; /* Ukuran tulisan lebih kecil */
}

.logo-container {
  background-color: rgba(51, 51, 51, 0);
  padding: 10px;
  display: inline-block;
}

.logo {
  width: 250px; /* Ukuran logo */
  height: auto;
}

.overlay-text {
  background-image: url("../../assets/images/loginregister.jpg");
  background-size: cover;
  background-position: center;
}

.google-icon {
  width: 20px; 
  height: 20px; 
  margin-right: 8px;
  vertical-align: middle;
}

/* Additional responsive styles */
@media (max-width: 768px) {
  .register-container {
    top: 0; /* Adjust for smaller screens */
  }

  .register-form {
    padding: 15px;
  }

  .logo {
    width: 200px;
  }
}

/* New Styles for Form Control Height and Margin */
.form-control-custom {
  height: 35px; /* Sesuaikan tinggi form control */
  margin-bottom: 13px; /* Sesuaikan jarak antar elemen form */
}