/* Background Color */
.bg-color-orange {
  background-color: #f8b22d;
}
.bg-color-krem {
  background-color: #f7f3e8;
}
.bg-color-hitam {
  background-color: #231f20;
}

/* Font Family */
.font-regular {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.font-medium {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
}
.font-bold {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

/* Font Color */
.font-white {
  color: white;
}
.font-black {
  color: black;
}
.font-orange {
  color: #f8b22d;
}

/* Font Size */
.size-title-landing {
  font-size: 48px;
}
.size-desc-landing {
  font-size: 18px;
}
.size-title-category {
  font-size: 28px;
}
.size-desc-category {
  font-size: 20px;
}
.size-title-card {
  font-size: 24px;
}
.size-desc-card {
  font-size: 14px;
}
